@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    /* Header */

    .address-nav {
        display: flex;
    }
    
    .address-nav .chapter+.chapter {
        margin-left: 40px;
    }
}