@media screen and (max-width: 479px) {
    .modal {
        width: calc(100% - (15px * 2));
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
    }

    
}

@media screen and (max-width: 767px) {
    .changeble-menu {
        display: none;
    }
}