:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #2E2F42;
    --hero-text-color: #ffffff;
    --header-background-color: #E7E9FC;
    --footer-text-color: #E7E9FC;
    --main-text-color: #434456;
    --title-text-color: #2e2f42;
    --accent-color: #404BBF;
    --logo-part-color: #4d5ae5;
    --footer-logo-part: #F4F4FD;
    --footer-social-hover: #31D0AA;
    --custumer-logo-color: #8e8f99;
    --modal-bg-color: #FCFCFC;
    --modal-btn-color: #000000;
    --modal-policy-color: #757575;
    --modal-text-color: #8E8F99;

    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

/* Body */

body{
    scroll-behavior:smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
    color: var(--main-text-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.list {
    list-style: none;
    margin: 0;
}

ul {
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    /* outline: 2px solid green; */
}

.item-description {
    margin: 0;
}

.section-title,
.section-item {
    color: var(--title-text-color);
}

.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.section-item {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Visually hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.page-header {
    padding: 24px 0;
    border-bottom: 1px solid var(--header-background-color);
}

.logo {
    color: var(--title-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration-line: none;
}

.logo-web {
    color: var(--logo-part-color);
}



.btn-menu-burger {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.btn-menu-burger .btn-mobile:focus,
.btn-menu-burger .btn-mobile:hover {
    fill: var(--accent-color);
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    
    /* transform: translateY(-100%); */
    transform: scaleY(0);
    transition: transform 800ms var(--animation-function);

    z-index: 666;
    /* opacity: 0; */
    /* visibility: hidden; */
    pointer-events: none;
    transform-origin: bottom;

    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--hero-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu.is-open {
    /* transform: translateY(0); */
    transform: scaleY(1);
    transform-origin: top;

    transition: transform 800ms var(--animation-function);
    /* opacity 1ms var(--animation-function) 999ms, */
    /* visibility 1ms var(--animation-function) 999ms; */
    
    /* opacity: 1; */
    /* visibility: visible; */
    pointer-events: all;
}

.mobile-menu.is-open .link.mob-menu-open {
    color: var(--accent-color);
}

.mobile-menu .mobile-social {
    margin-top: auto;
}

.btn-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--header-background-color);
}

.btn-menu-close:focus,
.btn-menu-close:hover {
    background-color: var(--accent-color);
    fill: var(--hero-text-color);
}

.mob-nav .link {
    transition: color var(--animation-duration) var(--animation-function);

    display: block;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}

.mob-nav .link:hover,
.mob-nav .link:focus {
    color: var(--accent-color);
}

.address-mob {
    display: flex;
    flex-direction: column-reverse;
}

.address-mob .ping-mob {
    display: block;
}

.address-mob .ping-mob:hover,
.address-mob .ping-mob:focus {
    color: var(--accent-color);
}

.ping-mob {
    transition: color var(--animation-duration) var(--animation-function);

    color: var(--main-text-color);
    
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    /* margin-bottom: 48px; */
    text-decoration-line: none;
}


.ping-mob.mobil {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    /* margin-bottom: 40px; */
    color: var(--logo-part-color);
}

.menu-address {
    margin-top: auto;
}

/* Mobile menu's social */

.mob-social-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.chapter-social {
    list-style: none;
    width: 40px;
    height: 40px;
}

.chapter-social:not(:last-child) {
    margin-right: 56px;
}

.chapter-social .mobile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: var(--logo-part-color);
}

.chapter-social .mobile-link:focus,
.chapter-social .mobile-link:hover {
    background-color: var(--accent-color);
}



/* main hero */

.section.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 428px;
    /* width: 100%; */
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-color: var(--secondary-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .container {
    text-align: center;
}

.container .main-title {
    margin: 0 auto 72px;
    text-align: center;

    color: var(--hero-text-color);
    max-width: 320px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.push {
    transition: background-color var(--animation-duration) var(--animation-function);

    border-radius: 4px;
    margin: 0;
    padding: 16px 32px;
    min-width: 169px;
    border: none;

    background-color: var(--logo-part-color);
    color: var(--hero-text-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
}

.push:hover,
.push:focus {
    background-color: var(--accent-color);
}

/* Modal */

.backdrop {
    transition: opacity 250ms var(--animation-duration);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(180deg) scale(0.2, 0.2);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0) scale(1, 1);
    transition: transform 800ms var(--animation-function),
        box-shadow var(--animation-duration) var(--animation-function),
        opacity 250ms var(--animation-function);
    opacity: 1;

    width: 392px;
    min-height: 586px;
    padding: 72px 24px 24px;
    background-color: var(--modal-bg-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close {
    position: absolute;
    transition: background-color var(--animation-duration) var(--animation-function);

    display: flex;
    top: 24px;
    right: 24px;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--header-background-color);
}

.btn-modal {
    transition: fill var(--animation-duration) var(--animation-function);
    fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.modal-close:hover .btn-modal,
.modal-close:focus .btn-modal {
    fill: var(--hero-text-color);
}

/* Modal input */

form {
    display: flex;
    flex-direction: column;
}

.modal-topic {
    margin: 0 0 16px;
    font-weight: 500;
    text-align: center;
}

.modal-item {
    position: relative;
    margin-bottom: 8px;
}

.modal-item.comment {
    margin-bottom: 16px;
}

.input-name {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--modal-text-color);

    margin-bottom: 4px;
}

.modal-item input {
    transition:
        border var(--animation-duration) var(--animation-function),
        fill var(--animation-duration) var(--animation-function);

    width: 100%;
    min-height: 40px;
    padding: 8px 16px;
    padding-left: 38px;
    margin: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-item input:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.modal-item input:focus+.person-input>.input-icon {
    fill: var(--accent-color);
}

.person-input {
    width: 18px;
    height: 24px;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.modal-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    margin-bottom: 24px;
    color: var(--modal-policy-color);
}

.checkbox:checked+.logo-check {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.checkbox:checked+.logo-check .check {
    fill: var(--footer-logo-part);
}

textarea {
    transition: border var(--animation-duration) var(--animation-function);

    resize: none;
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;

    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.logo-check {
    transition:
        background-color var(--animation-duration) var(--animation-function),
        border-color var(--animation-duration) var(--animation-function),
        fill var(--animation-duration) var(--animation-function);
    display: inline-flex;
    align-items: center;
    justify-content: center;


    width: 16px;
    height: 16px;
    border: 1.25px solid var(--secondary-background-color);
    border-radius: 2px;
    margin-right: 8px;
}

.check {
    fill: transparent
}

.btn-send {
    transition: background-color var(--animation-duration) var(--animation-function);

    display: inline-block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto 0 auto;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    background-color: var(--logo-part-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #ffffff;
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--accent-color);
}

/* Advantages */

.section.odds {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Works */

.section.work {
    padding-bottom: 120px;
}

.work-nav.list {
    display: flex;
}

.work-nav .chapter:not(:last-child) {
    margin-right: 24px;
}

/* .work-nav .chapter + .chapter {
    margin-left: 24px;
    } */

.section.work {
    display: none;
}

/* Team */

.section.tint {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
}

.tint {
    background-color: var(--header-background-color);
}

.team-nav .chapter {
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;

    width: 264px;
}

.team-name {
    padding: 32px 16px;
    text-align: center;
}

.team-name .item-description {
    margin-bottom: 8px;
}

.team-link {
    display: flex;
    list-style: none;
}

.team-social:not(:last-child) {
    margin-right: 24px;
}

.btn-social {
    transition: background-color var(--animation-duration) var(--animation-function);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--logo-part-color);
    border-radius: 50%;
}

.btn-social:hover,
.btn-social:focus {
    background-color: var(--accent-color);
}

.icon-team-social {
    width: 16px;
    height: 16px;
    fill: var(--footer-logo-part);
}

/* Customers */

.section.customers {
    padding: 96px 0;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.client-page {
    transition: border var(--animation-duration) var(--animation-function);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 1px solid var(--custumer-logo-color);
    border-radius: 4px;
}

.client {
    margin-right: 16px;
    margin-bottom: 72px;
    width: calc((100% - 16px)/2);
    height: 88px;
}

.client-icon {
    transition: fill var(--animation-duration) var(--animation-function);
    fill: var(--custumer-logo-color);
}

.client-page:hover,
.client-page:focus {
    border: 1px solid var(--accent-color);
}

.client-page:hover .client-icon,
.client-page:focus .client-icon {
    fill: var(--accent-color);
}

/* footer */

footer {
    background-color: var(--secondary-background-color);
    color: var(--footer-text-color);
}

.section.foot {
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.foot-logo-end {
    margin: 0 auto 72px;
}

.foot-part {
    color: var(--footer-logo-part);
}

.foot .item-description {
    max-width: 264px;
}

.logo.foot-part {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.media {
    margin: 0 auto 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--hero-text-color);
}

.social-list {
    display: flex;
    margin: 0;
    text-align: center;
    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 16px;
}

.foot-link-back {
    transition: background-color var(--animation-duration) var(--animation-function);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
}

.foot-link-back:hover,
.foot-link-back:focus {
    background-color: var(--footer-social-hover);
}

.foot-info {
    display: flex;
}

.foot-social-links {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.foot-social-links .media {
    text-align: center;
}

.subscribe-field {
    display: flex;
}

.subscribe-label input {
    transition: border var(--animation-duration) var(--animation-function);

    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    color: var(--footer-logo-part);
}

.subscribe-label input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
    display: flex;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: var(--hero-text-color);
    background-color: var(--logo-part-color);
    border: transparent;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: var(--accent-color);
}

/* Portfolio */

.section.options {
    padding: 48px 0 0;
}

/* Portfolio's buttons */

.btn-list {
    margin-bottom: 48px;
}

.btn-push {
    transition:
    background-color var(--animation-duration) var(--animation-function),
    color var(--animation-duration) var(--animation-function),
    box-shadow var(--animation-duration) var(--animation-function);

    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    border: transparent;

    background-color: var(--footer-logo-part);
    color: var(--logo-part-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
}

.btn-push:hover,
.btn-push:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn-list .chapter {
    margin-right: 24px;
    margin-bottom: 16px;
}

.btn-list .chapter:nth-last-child(-n+2) {
    margin-bottom: 0;
}

/* Portfolio's cards */

.card-name {
    padding: 32px 16px;
    margin: 0;

    border: 1px solid var(--header-background-color);
    border-top: none;
}

.card-name .section-item {
    text-align: start;
}

.card-product {
    display: none;
}

/* Portfolio's galary */

.galary {
    transition: box-shadow var(--animation-duration) var(--animation-function);
    display: block;
    color: var(--main-text-color);

    text-decoration-line: none;
}

.chapter .galary:hover,
.chapter .galary:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-text {
    margin-top: 0;
    margin-bottom: auto;
}

.img-product {
    position: relative;
    overflow: hidden;
}

.chapter .galary:hover .card-product,
.chapter .galary:focus .card-product {
    transform: translateY(0);
}

.card-product {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--animation-duration) var(--animation-function);

    width: 360px;
    height: 300px;
    padding: 40px 32px;

    background-color: rgba(77, 90, 229, 0.8);
    color: var(--footer-logo-part);
}