@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .page-header {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Header */

    .btn-menu-burger {
        display: none;
    }

    .mobile-header .logo {
        margin-right: 120px;
    }

    .mobile-menu {
        display: none;
    }

    .site-nav .link.current {
        position: relative;
        color: var(--accent-color);
    }
    
    .site-nav .link::after,
    .site-nav .link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    
        transform: scale(0, 0);
        transition: transform var(--animation-duration) var(--animation-function) 100ms;
    }
    
    .site-nav .link:hover::after,
    .site-nav .link:focus::after {
        transform: scale(1, 1);
    }
    
    .site-nav .link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    
        transform: scale(1);
    }
    
    .site-nav .link {
        position: relative;
        transition: color var(--animation-duration) var(--animation-function);
    
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    
        color: var(--title-text-color);
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-decoration-line: none;
    }
    
    .site-nav .link:hover,
    .site-nav .link:focus {
        color: var(--accent-color);
    }
    
    .site-nav {
        display: flex;
    }
    
    .site-nav .chapter:not(:last-child) {
        margin-right: 40px;
    }

    .ping {
        transition: color var(--animation-duration) va(--animation-function);
    
        color: var(--main-text-color);
    
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        text-decoration-line: none;
    }
    
    .address-nav .ping:hover,
    .address-nav .ping:focus {
        color: var(--accent-color);
    }

    .address-nav {
        display: flex;
        flex-direction: column;
    }

    .container.head-list {
        display: flex;
        align-items: center;
    }

    .contact-address {
        margin-left: auto;
    }

    /* Main HERO-section */

    .section.hero {
        max-width: 768px;
        height: 436px;
        /* background-image: url(../images/hero-tablet-2x.jpg); */
    }

    .container .main-title {
        margin: 0 auto 36px;
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    }

    /* Modal */

    .modal {
        width: 408px;
        min-height: 586px;
    }

    /* Advantages */

    .advantages.list {
        display: flex;
    }

    /* Team */

    .team-nav.list {
        display: flex;
        text-align: center;
    }

    /* Customers */

    .client {
        margin-right: 24px;
    }

    /* Footer */

    .logo.foot-part {
        text-align: start;
    }

    .foot-social-links .media {
        text-align: start;
    }

    .foot-social-links {
        margin: 0 auto 72px 0;
    }

    .media {
        margin-left: 0;
    }

    .subscribe-label {
        margin-right: 24px;
    }

    /* Portfolio */

    .cards-nav.list {
        display: flex;
        flex-wrap: wrap;
    }
}




@media screen and (min-width:768px) and (max-width:1199px) {
    
    /* Advantages */

    .advantages.list {
        flex-wrap: wrap;
    }

    .advantages .chapter {
        max-width: calc((100% - 24px)/2);
    }
    
    .advantages .chapter+.chapter:not(:nth-child(2n+1)) {
        margin-left: 24px;
    }
    
    .chapter.skill:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    /* Team */

    .team-nav.list {
        flex-wrap: wrap;
    }

    .team-nav .chapter+.chapter:not(:nth-child(2n+1)) {
        margin-left: 24px;
    }
    
    .team-nav .chapter:not(:nth-last-child(-n+2)) {
        margin-bottom: 64px;
    }
    
    .team-nav .chapter:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    
    .team-nav .chapter:nth-child(2n+1) {
        margin-right: 0;
    }

    /* Customers */

    .clients-list {
        margin-right: 108px;
        margin-left: 108px;
    }

    .client {
        width: calc((100% - 24px * 2)/3);
    }

    .client:nth-child(3n) {
        margin-right: 0;
    }
    
    .client:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    /* Footer */

    .foot-info {
        flex-wrap: wrap;
    }
    
    .foot-logo-end {
        margin: 0 24px 72px 108px;
    }

    .subscribe-label input {
        min-width: 264px;
    }

    .subscribe-form {
        margin: 0 auto 0 108px;
    }

    /* Portfolio */

    .section.options {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .btn-list.list {
        justify-content: center;
        margin-bottom: 64px;
    }

    .img-product img {
        width: 100%;
    }

    .cards-nav .chapter {
        width: calc((100% - (24px * 2))/2);
    }

    .cards-nav .chapter:not(:nth-last-child(-n+2)) {
        margin-bottom: 72px;
    }

    .cards-nav .chapter:not(:nth-child(2n)) {
        margin-right: 24px;
    }
}